@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --color-emerald-850: #064e3b;
  --color-emerald-750: #0f766e;
}

/* Tambahan custom styling halus jika diperlukan */
body {
  @apply bg-[#fbfbfa] text-zinc-800 antialiased font-sans;
}